body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

#sapper {
  background: linear-gradient(180deg, #ffd687 0%, #fff6c8 100%),
    linear-gradient(180deg, #f79421 12.62%, #f7ab33 43.23%, #f9ef68 100%);
}

@font-face {
  font-family: "consolas";
  src: url("/fonts/CONSOLAB.ttf") format("truetype");
}

@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway.ttf") format("truetype");
}

@font-face {
  font-family: "raleway-bold";
  src: url("/fonts/raleway-bold.ttf") format("truetype");
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
